/static/js/* linguist-vendored
/static/css/* linguist-vendored
/templates/* linguist-vendored
!static/js/app.js
!static/js/alertify-init.js
!static/js/rwd-table.min.js
!static/css/dataTables.bootstrap4.min.css
!templates/index.html
!templates/index.html
!templates/pages-login.html
!templates/pages-register.html
